---
layout: compress
# Default layout
---

<!DOCTYPE html>

{% capture prefer_mode %}
  {% if site.theme_mode %}
    mode="{{ site.theme_mode }}"
  {% endif %}
{% endcapture %}

<html lang="{{ site.lang | default: "en-US" }}" {{ prefer_mode }}>

  {% include head.html %}

  <body data-spy="scroll" data-target="#toc">

    {% include sidebar.html %}

    {% include topbar.html %}

    <div id="main-wrapper">
      <div id="main">

        {% include refactor-content.html content=content %}

        <!-- Amazon link stores -->
        <div id="amzn-assoc-ad-be5a767b-3346-40aa-bc00-2eff0ce33d2b"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=be5a767b-3346-40aa-bc00-2eff0ce33d2b"></script>
  
        {% include footer.html %}

      </div>

      {% include search-results.html %}

    </div> <!-- #main-wrapper -->

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

    <div id="mask"></div>

    <a id="back-to-top" href="#" aria-label="back-to-top" class="btn btn-lg btn-box-shadow" role="button">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include search-loader.html %}

  </body>

</html>
